<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Evaluator Dashboard</title>
  <link
    rel="stylesheet"
    href="{{url_for('static', filename="css/evaluator_dashboard.css")}}"
  >
</head>
<body>
  <header>

    <img src="{{url_for('static', filename="images/deped_seal.png")}}"
    rel="stylesheet"
    class="Deped Logo"
    >
    <h1>Evaluator Dashboard</h1>
  <a href="{{ url_for('logout') }}" class="btn logout-btn">Logout</a>
  
  </header>


  <h2>Interview: {{ interview.id }} ({{ interview.type.capitalize() }})</h2>
  <table>
    <thead>
      <tr>
        <th>Applicant Code</th>
        <th>Name</th>
        <th>Your Evaluation Score (max 25)</th>
        <th>View / Update Evaluation</th>
      </tr>
    </thead>
    <tbody>
      {% for a in applicants %}
      <tr>
        <td>{{ a.code }}</td>
        <td>{{ a.name }}</td>
        <td>
          {% if my_scores[a.code] is not none %}
            {{ my_scores[a.code] }}
          {% else %}
            Not Evaluated
          {% endif %}
        </td>
        <td><a href="{{ url_for('evaluator_applicant_detail', code=a.code) }}" class="btn">View</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</body>
</html>
